{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block title %}New Crew{% endblock %}

{% block body %}
    <div class="container">
        <h1>Create new crew</h1>

        {{ include('band/_form.html.twig') }}

        <a href="{{ path('app_band_index') }}">back to list</a>
    </div>
{% endblock %}
