{% extends 'base.html.twig' %}

{% block title %} All The Concerts {% endblock %}

{% block body %}
    <div class="container">
        {% for concert in concerts %}
            <p>
                <a href="{{ path('concert_show' , {id: concert.getId()}) }}">
                    {{ concert.getConcertName() }}
                </a>
            </p>
        {% endfor %}
    </div>
{% endblock %}