{% extends 'base.html.twig' %}

{% block title %} All Concerts {% endblock %}

{% block body %}
    <div class="container">
        <h1>All Concerts</h1>
        {% for concert in concerts %}
            <div>
                <a href="{{ path('concert_show' , {id: concert.getId()}) }}">
                    {{ concert.getConcertName() }}
                </a>
            </div>
        {% endfor %}

        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('concert_create') }}">
                Create new concert
            </a>
        {% endif %}
    </div>
{% endblock %}