{% extends '../base.html.twig' %}

{% block body %}
    <div class="container">
        <h3>Page not found</h3>

        <p>
            The requested page couldn't be located. Checkout for any URL
            misspelling or <a href="{{ path('home_index') }}">return to the homepage</a>.
        </p>
    </div>
{% endblock %}